@import 'tailwindcss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'League spartan', serif;
  font-weight: 300;
  font-style: normal;
}

nav {
  font-family: 'League Spartan', sans-serif;
}

footer {
  font-family: 'League Spartan', sans-serif;
}

/* carousel */
#carousel {
  font-family: 'League Spartan', sans-serif;
  margin: 20px;
  padding: 20px;
}

/* Slider */
#default-carousel {
  margin: 15px;
  padding: 15px;
}

.carousel-item {
  transition: all 0.7s ease-in-out;
}
.indicator-active {
  background-color: white;
  opacity: 1;
}
.indicator-inactive {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.7;
}

/* MAIN */
.main-content {
  padding-block: 20px;
}

/* first page */
.hero-firstPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: auto;
}

.hero-sections {
  display: flex;
  width: 100%;
  height: 100%;
}

.hero-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
}

.left {
  background-color: #00bfff;
}

.right {
  background-color: #98e4ae;
}

.text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.cut {
  transition: transform 200ms;
  transform: translateY(0);
}
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}
.placeholder {
  transform-origin: 0 50%;
  transition:
    transform 200ms,
    color 200ms;
}
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

/* Write your styles more here */
