@import 'tailwindcss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League spartan', serif;
}

body {
  font-family: 'League spartan', serif;
  font-weight: 300;
  font-style: normal;
}

/* carousel */
#carousel {
  font-family: 'League Spartan', sans-serif;
  margin: 20px;
  padding: 20px;
}

/* MAIN */
.main-content {
  padding-block: 20px;
}

/* first page */
.hero-firstPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: auto;
}

.hero-sections {
  display: flex;
  width: 100%;
  height: 100%;
}

.hero-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
}

.left {
  background-color: #00bfff;
}

.right {
  background-color: #98e4ae;
}

.text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.cut {
  transition: transform 200ms;
  transform: translateY(0);
}
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}
.placeholder {
  transform-origin: 0 50%;
  transition:
    transform 200ms,
    color 200ms;
}
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

@layer utilities {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInMove {
    0% {
      opacity: 0;
      transform: translateX(-300px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes dsTop {
    0% {
      top: -150px;
    }
    100% {
      top: 0;
    }
  }

  @keyframes mvTop {
    0% {
      top: -150px;
    }
    100% {
      top: 40px;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 2s ease-in;
  }

  .animate-fadeInMove {
    animation: fadeInMove 2s forwards;
  }

  .animate-dsTop {
    animation: dsTop 1.5s ease-out;
  }

  .animate-mvTop {
    animation: mvTop 1.5s ease-out;
  }
}

.sidebar-transition {
  transition: transform 0.3s ease-in-out;
}

/* Overlay background */
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
}

/* Hidden state */
.sidebar-hidden {
  transform: translateX(-100%);
}

/* Mobile responsive */
@media (min-width: 768px) {
  .sidebar-desktop {
    transform: translateX(0) !important;
  }
}
/* Write your styles more here */
